{% extends "core/base.html" %}
{% load static %}

{% block TITLE %} Топик - {{ block.super }} {% endblock %}


{% block CONTENT %}

    <div class="row mt-2">
        <div class="col-md-12">
            <p class="card card-block bg-faded"><a href="{% url 'manager_category:list'%}">Назад</a></p>
        </div>
    </div>

    <h3>Топик "{{topic.name}}"</h3>

    <div class="row my-2">
        <div class="col-md-12">
            <div class="card mt-1">
                <div class="card-body">
                    <p>{{ topic.text }}</p>
                </div>
            </div>
        </div>
    </div>

    <h3>В категориях</h3>
    <div class="row my-2">
        <div class="col-md-12">
            {% for category in topic.categories.all %}
                {% if not forloop.first %},{%endif%}
                <a href="{% url "manager_category:detail" pk=category.id %}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>


    <h3>Комментарии</h3>

    <div class="row my-2">
        <div class="col-md-12">
            <ul class="media-list">
                {% for now_comment in comments %}
                    {% include "manager_topic/widgets/comment_child.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="add comment">
    </form>
{% endblock %}